---
import "../styles/global.css";
---


<div class="flex w-full">
  <ul class="flex gap-7 text-center justify-center items-center bg-transparent text-white w-full z-10">
    <li class="p-2">
      <a href="/" class="text-white-200 hover:text-blue-700">Home</a>
    </li>
    <li class="p-2">
      <a class="text-blwhiteue-500 hover:text-blue-700">Articles</a>
    </li>
    <li class="p-2">
      <a href="/Contact" class="text-white-500 hover:text-blue-700">Contact</a>
    </li>
    <li class="p-2">
      <a href="/About" class="text-white-500 hover:text-blue-700">About</a>
  </ul>
</div>
