---
import "../styles/global.css";
---

<main class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pl-70 gap-20 flex flex-col items-center justify-center w-full h-full  z-20">
    <h1 class="z-30 text-8xl text-white">Half Space</h1>
    <h2 class="z-30 text-3xl text-white mr-90">Just Football</h2>
</main>

<style>
    h1,h2 {
        font-family: 'Boldonese', sans-serif;
    }
</style>