---
import Card from '../components/Card.astro';
---

<section class="w-full flex justify-center">
    <div class="container">
        <div class="flex flex-row gap-8 justify-center">
            <Card 
                title="Barcelona League Analysis" 
                description="How is Flick Transforming the team"
                image="src/assets/images/barcelona.jpg"
                link="articles/fcbarcelona2025"
            />
            <Card 
                title="Manchester City" 
                description="Tactical breakdown of the team"
                image="src/assets/images/ManCity.webp"
                link="articles/mancity2025"
            />
            <Card 
                title="Arsenal" 
                description="Are they ready to win Real Madrid?"
                image="src/assets/images/arsenal.jpg"
                link="articles/arsenal2025"
            />
        </div>
    </div>
</section>